h1 {
    background-color: orange;
  color: white;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
canvas{
    border: 2px solid #ddd; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  margin: 20px 0; 
}